
<div class="container-fluid">
  <div class='row'>
    <div class="col-xs-2 col-md-3"></div>
    <div class="col-xs-9 col-md-7"><h1 id='text'>TindCat</h1>
    </div>
    <div class="col-xs-1 col-md-2"></div>
  </div>
</div>




<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><h3 id='text2'>Love At First Hiss</h3></div>
    <div class="col-sm-2"></div>
  </div>
</div> -->
<div class='everything'>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-3"></div>
    <div class="col-xs-8 col-md-8"><p id='name'><%=@catname%>, <%=@catage %> </p></div>
    <div class='col-xs-1 col-md-1'>
    </div>
  </div>
</div>

<%=@a%>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-3"></div>
    <div class="col-xs-8 col-md-5">
<div id=pic>
<img class='circular' src='http://thecatapi.com/api/images/get?format=src'></div>
    </div>
    <div class="col-xs-2 col-md-4">
    </div>
  </div>
</div>
<br>

<div id='match'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-10">
          <p> It's a PURRRRR-Fect Match!</p>
          </div>
            <div class="col-xs-0 col-md-0">
            </div>
      </div>
              <div class='row'>
                <div class="col-xs-1 col-md-2"></div>
                  <div class="col-xs-8 col-md-8">
                    <%= button_to "More Kitty Love?", kittylove_path, :method => "get", class:"btn btn-success btn-lg", id: 'morebutton'%>
                    <%= button_to "Get Directions", "http://maps.apple.com/?daddr=#{@catstate}&z=10&t=s", class:'btn btn-primary btn-lg', id: 'mapsbutton'%>
                  </div>
                    <div class="col-xs-2 col-md-2">
                    </div>
              </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-md-4"></div>
    <div class="col-xs-4 col-md-4">
        <div class="options">
          <div id="woof">
          <%#= button_to "Woof", '#', :method => "get", id: 'bark', class:'btn btn-danger btn-lg'%>
          <%= image_tag("puppy_icon.jpg", :alt =>"Puppy", :method =>"get", id: "bark")%>
          </div>
          <div id="meow">
          <%#= button_to "Meow", '#', :method => "get", id: 'meow', class:'btn btn-success btn-lg'%>
          <%= image_tag("kitty_icon.jpg", :alt =>"Kitty", :method =>"get", id: "meow")%>
          </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4">
    </div>
  </div>
</div>

<div id='stuff'>
<div class="container-fluid">
  <div class="row">
    <div class='info'>
      <div class='col-xs-2 col-md-3'></div>
      <div class='col-xs-7 col-md-6'>
        <%#= "City: " + @catcity.titleize%>
        <div id='yo'>
        <p id='bold'>Litter Box In: <%=@catstate.titleize%></p>
        <p id='bold'>My Hipster Word: <%=@catu.first.titleize%></p>
        <%#= "Favorite Sport: " + @catsport.titleize%>
        <p id='bold'>Occupation: <%=@catjob.titleize%></p>
        <p id='bold'>My Spirit Animal: <%=@catspirit.titleize%></p>
      </div>
      </div>
      <div class='col-xs-2 col-md-4'>
      </div>
      <!-- <div class='col-sm-2'></div> -->
    </div>
  </div>
</div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class='col-xs-2 col-md-3'></div>
    <div class='col-xs-8 col-md-7'>
      <p id='blurb'>A Project By German A Nieto</p></div>
    <div class='col-xs-2 col-md-2'></div>
  </div>
</div>
</div>



<!-- Meow Animation -->
<script>
var count = <%=@a%>
// document.getElementById("meow").onclick =
$(document).ready(function meow(){
  $("#meow").click(function(event){
  $("#pic").animate({
    left: '180px',
    opacity: '0',
  },
{duration: 500
    });
  if (count == 4){
    $("#pic").fadeOut(500);
    $("#match").fadeIn(2000);
    return;
  };
  setTimeout(function(){document.location = "http://tindcat.herokuapp.com"},500);//
});
});
</script>


<!-- Woof Animation -->
<script>
$(document).ready(function woof(){
    $("#bark").click(function(event){
      console.log("hi");
        $("#pic").animate({
          left: '-700px',
          opacity: '0',
        },
      {
        duration: 500
    });
    setTimeout(function(){document.location = "http://tindcat.herokuapp.com"},500);//
    });
    });
</script>
