<br><br>
<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-2"></div>
    <div class="col-sm-9"><h1 id='text'> TindCat </h1></div>
    <div class="col-sm-1"></div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><h3 id='text2'>Love At First Hiss</h3></div>
    <div class="col-sm-2"></div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8"><p><%=@catname%>, <%=@catage %> </p></div>
  </div>
</div>



<br>
<div id='match'>
<h1> It's a PURRRRR-Fect Match!</h1>
<%= button_to "More Kitty Love?", kittylove_path, :method => "get", id: 'woof'%>
<%= button_to "Get Directions", "http://maps.apple.com/?daddr=#{@catstate}&z=10&t=s", class:'btn btn-success btn-lg'%>

</div>

<div id=pic>
<img class='circular' src='http://thecatapi.com/api/images/get?format=src'></div>
<br>


<%#if%>
<div id="woof">
<%#= button_to "Woof", '#', :method => "get", id: 'bark', class:'btn btn-danger btn-lg'%>
<%= link_to image_tag("puppy_icon.jpg"), "#", :alt =>"Puppy", :method =>"get", id: "bark"%>
</div>
<%#end%>
<div id="meow">
<%#= button_to "Meow", '#', :method => "get", id: 'meow', class:'btn btn-success btn-lg'%>
<%= link_to image_tag("kitty_icon.jpg"), "#", :alt =>"Kitty", :method =>"get", id: "meow"%>
</div>

<%#= image_tag("puppy_icon.jpg", :alt => "Puppy", :id => "Puppy") %>

<div class="container-fluid">
  <div class="row">
    <div class='info'>
      <div class='col-sm-3'></div>
      <div class='col-sm-9'>
        <%#= "City: " + @catcity.titleize%>
        <p id='bold'>State: <%=@catstate.titleize%></p>
        <p id='bold'>College: <%=@catu.titleize%></p>
        <%#= "Favorite Sport: " + @catsport.titleize%>
        <p id='bold'>Favorite Book: <%=@catbook.titleize%></p>
        <p id='bold'>My Spirit Animal: <%=@catspirit.titleize%></p>
      </div>
      <!-- <div class='col-sm-2'></div> -->
    </div>
  </div>
</div>




<!-- Meow Animation -->
<script>
var count = <%=@a%>
// document.getElementById("meow").onclick =
$(document).ready(function meow(){
  $("#meow").click(function(event){
    console.log('yo');
  $("#pic").animate({
    left: '1000px',
    opacity: '0',
    });
  if (count == 4){
    $("#match").fadeIn(10).animate({fontSize:'4.5em'});
  };
});
});
</script>


<!-- Woof Animation -->
<script>
$(document).ready(function woof(){
    $("#bark").click(function(event){
      console.log("hi");
        $("#pic").animate({
          left: '-1000px',
          opacity: '0',
          });
    });
});
</script>
