<h1 id='text'> TindCat </h1>
<h3 id='text'> Love At First Hiss! </h3>

<div class = 'name'>
 <p><%=@catname%>, <%=@catage %> </p>
</div>
<br>
<div id='match'>
<h1> It's a PURRRRR-Fect Match!</h1>
<%= button_to "More Kitty Love?", kittylove_path, :method => "get", id: 'woof'%>
<%= button_to "Get Directions", "http://maps.apple.com/?daddr=#{@catstate}&z=10&t=s", class:'btn btn-success btn-lg'%>

</div>

<div id=pic style="position:absolute; top:400px">
<img class='circular' src='http://thecatapi.com/api/images/get?format=src'></div>
<br>


<%#if%>
<div id="woof">
<%= button_to "Woof", '#', :method => "get", id: 'bark', class:'btn btn-danger btn-lg'%>
</div>
<%#end%>
<div id="meow">
<%= button_to "Meow", '#', :method => "get", id: 'meow', class:'btn btn-success btn-lg'%>
</div>



<%=@a%>
<%=@catstate%>


<li><%= "City: " + @catcity.titleize%></li>
<li><%= "State: " + @catstate.titleize%></li>
<li><%= "College: " + @catu.titleize%></li>
<li><%= "Favorite Sport: " + @catsport.titleize%></li>
<li><%= "Favorite Book: " + @catbook.titleize%></li>
<li><%= "My Spirit Animal: " + @catspirit.titleize%></li>



<!-- Meow Animation -->
<script>
var count = <%=@a%>
// document.getElementById("meow").onclick =
$(document).ready(function meow(){
  $("#meow").click(function(event){
    console.log('yo');
  $("#pic").animate({
    left: '1000px',
    opacity: '0',
    });
  if (count == 4){
    $("#match").fadeIn(10).animate({fontSize:'4.5em'});
  };
});
});
</script>


<!-- Woof Animation -->
<script>
$(document).ready(function woof(){
    $("#bark").click(function(event){
      console.log("hi");
        $("#pic").animate({
          left: '-1000px',
          opacity: '0',
          });
    });
});
</script>
